<div class="card flex flex-column h-full">
  <p-tabs [(value)]="activeTab">
    <p-tablist>
      <p-tab [value]="0">
        <i class="pi pi-calendar mr-2"></i>
        Turnos
      </p-tab>
      <p-tab [value]="1">
        <i class="pi pi-file-edit mr-2"></i>
        Historiales Clínicos
      </p-tab>
      <p-tab [value]="2">
        <i class="pi pi-chart-bar mr-2"></i>
        Productos Más Vendidos
      </p-tab>
      <p-tab [value]="3">
        <i class="pi pi-dollar mr-2"></i>
        Ganancias
      </p-tab>
      <p-tab [value]="4">
        <i class="pi pi-exclamation-triangle mr-2"></i>
        Stock Bajo
      </p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel [value]="0">
        <app-reporte-turnos />
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <app-reporte-historiales />
      </p-tabpanel>
      <p-tabpanel [value]="2">
        <app-reporte-productos />
      </p-tabpanel>
      <p-tabpanel [value]="3">
        <app-reporte-ganancias />
      </p-tabpanel>
      <p-tabpanel [value]="4">
        <app-reporte-stock-bajo />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
